{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coaches list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcoach</th>
                <th>Nomcoach</th>
                <th>Prenomcoach</th>
                <th>Jobcoach</th>
                <th>Pathcoach</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td><a href="{{ path('coach_show', { 'idCoach': coach.idCoach }) }}">{{ coach.idCoach }}</a></td>
                <td>{{ coach.nomCoach }}</td>
                <td>{{ coach.prenomCoach }}</td>
                <td>{{ coach.jobCoach }}</td>
                <td>{{ coach.pathCoach }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('coach_show', { 'idCoach': coach.idCoach }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('coach_edit', { 'idCoach': coach.idCoach }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('coach_new') }}">Create a new coach</a>
        </li>
    </ul>
{% endblock %}
