{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historiques list</h1>

    <table>
        <thead>
            <tr>
                <th>Typeevent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for historique in historiques %}
            <tr>
                <td><a href="{{ path('historique_show', { 'idUserHisto': historique.idUserHisto }) }}">{{ historique.typeEvent }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('historique_show', { 'idUserHisto': historique.idUserHisto }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('historique_edit', { 'idUserHisto': historique.idUserHisto }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historique_new') }}">Create a new historique</a>
        </li>
    </ul>
{% endblock %}
